.cardItem{
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}
.cardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.cardPhoto{

}
.cardFooter{
    color: white;
    display: flex;
    background-color: grey;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column;
}
.hoverTextContainer {
    position: relative;
}

.hoverText {
    cursor: pointer;
}

.additionalInfo {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.additionalInfoshow {
    opacity: 1;
}
.cardInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardInfoTitle .cardInfoAbout{
    display: flex;
    flex-direction: column;
}
.cardInfoTitle{
    padding-right: 35px;
}
.cardTitle{
    font-size: 22px;
    padding-bottom: 10px;
}
.cardInfoAboutItem{
    opacity: 0.5;
}