.cardItem{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.cardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.cardPhoto{

}