.container{
    width: 100%;

}
.cardContainer{
   display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 7%;
}
.wrapper{
    padding-left: 10%;
    padding-right: 10%;
}